
/* #region----commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion */



/* #region----utilities */

.dashed_2{
    border: dashed 2px black;
}
.pt_3{
    padding-top: 3rem;
}
.lr_05{
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.cont_70{
    width: 70%;
    max-width: 1152px;
    margin: auto;
}
:root{
    --tb-bck-header: #ff6900;
    --tb-bck-footer: #1a1a1a;
    --tb-red: #ff0000;
    --tb-card-green: #008000;
}
.d_flex{
    display: flex;
}
.pos_rel{
    position: relative;
}
.pos_abs{
    position: absolute;
}
.col4{
    width: calc(100% / 12 * 4);
}
.row{
    justify-content: space-between; 
    flex-wrap: wrap; 
}


/* #endregion */


/* #region----header */
#app_header{
    width: 100%;
    background-color:var(--tb-bck-header);
    height: 3.5rem;
    align-items: center;
}
#navbar{
    justify-content: space-between;
}

#navbar>div{
    background-color: aqua;
    width: 4rem;
    height: 2rem;
}

/* #endregion */


/* #region----main */

.card{
    padding: 0.3rem;
}
#app_main img{
    width: 100%;
}

/* #endregion */


/* #region----footer */

#app_footer{
    width: 100%;
    background-color:var(--tb-bck-footer);
    height: 5rem;
    align-items: center;
}
#footerbar{
    justify-content: space-between;
}

#footerbar>div{
    background-color: aqua;
    width: 4rem;
    height: 2rem;
}
/* #endregion */










